body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
}

.index{
    text-align: center;
}

#index{
    position: relative;
    left: 850px;
}


.cursos{
    text-align: center;
}